*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-nunito), var(--font-noto-tc), system-ui, sans-serif;
  background-color: #1b1917;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
